/* DEFAULTS */

body {
    font-family: georgia, serif;
}

.navbar {
       margin-bottom: 0; 
}

.bg-range {
    background-image: url(../img/dummy.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.bg-range .navbar {
    background-color: transparent;
    background-image: none;
    border: none;
}

.jumbotron {
    background-color: transparent;
    /* fonts */
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.jumbotron h1 { font-size: 38px;}
.jumbotron h2 { font-size: 32px;}
.jumbotron h1, .jumbotron h2 { margin: 6px; }

/* HELPER CLASSES */

.align-center {
    text-align: center;
}
