/* DEFAULTS */

body {
    font-family: georgia, serif;
}

.navbar {
    margin-bottom: 0; 
    border-radius: 0;
}

.bg-range .dropdown-menu {
    border-radius: 0;
    background-color: rgba(255,255,255,0.87);
}

.bg-range .dropdown-menu a:hover {
    background-image: linear-gradient(#6b8bd3, #495fa8);
    color: white;
}

.bg-range {
    background-image: url(../img/dummy.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.bg-range .navbar {
    background-color: rgba(255,255,255,0.57);
    background-image: linear-gradient(rgba(255, 255, 255, 0.79), transparent);
    border: none;
}

.jumbotron {
    background-color: transparent;
    /* fonts */
    color: white;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.jumbotron h1 { font-size: 38px;}
.jumbotron h2 { font-size: 32px;}
.jumbotron h1, .jumbotron h2 { margin: 6px; }

/* HELPER CLASSES */

.align-center {
    text-align: center;
}
